<h1>grid-list</h1>

<flo-grid-tiles #gridRef [count]="4" [(items)]="items">
  <div *floGridListOverlay>
    <button (click)="gridRef.setCount(1)">1</button>
    <button (click)="gridRef.setCount(2)">2</button>
    <button (click)="gridRef.setCount(3)">3</button>
    <button (click)="gridRef.setCount(4)">4</button>
    <button (click)="gridRef.setCount(9)">9</button>
    <button (click)="gridRef.setValueAtIndex(2, items[0])">VA</button>
  </div>
  <video *floGridListItemSome="let item" [src]="item.src" floMse autoplay></video>
  <div *floGridListItemNone>EMPTY!</div>
</flo-grid-tiles>

<!-- <h3>Grid List 1</h3>
  <flo-grid-list [gridTileRef]="grid" [items]="items">
    <div *floGridListItem="let item">
      {{ item.title }}
    </div>
  </flo-grid-list>

  <h3>Grid List 2</h3>
  <flo-grid-list [gridTileRef]="grid" [items]="items2">
    <div *floGridListItem="let item">
      {{ item.title }}
    </div>
  </flo-grid-list>

  <h3>Grid List 3</h3>
  <flo-grid-list [gridTileRef]="grid" [items]="items3">
    <div *floGridListItem="let item">
      {{ item.title }}
    </div>
  </flo-grid-list> -->