<h1>Grid List</h1>
<form>
  <div>
    <label for="min"><strong>Min</strong></label>
    <input id="min" name="min" type="text" type="number" [(ngModel)]="min">
  </div>
  <div>
    <label for="max"><strong>Max</strong></label>
    <input id="max" name="max" type="text" type="number" [(ngModel)]="max">
  </div>
  <div>
    <label for="count"><strong>Count</strong></label>
    <input id="countRange" name="count" type="range" [min]="min" [max]="max" step="1" [(ngModel)]="count">
    <input id="countText" name="count" type="number" [min]="min" [max]="max" [(ngModel)]="count">
  </div>
  <div>
    <label for="maxheight"><strong>Max Height</strong></label>
    <input id="maxheightRange" name="maxheight" type="range" min="0" max="1200" [(ngModel)]="maxheight">
    <input id="maxheightText" name="maxheight" type="number" min="0" max="1200" [(ngModel)]="maxheight">
  </div>
  <div>
    <input id="overlayEnabled" name="overlayEnabled" type="checkbox" [(ngModel)]="overlayEnabled">
    <label for="overlayEnabled">Overlay Enabled</label>
  </div>
  <div>
    <input id="overlayStatic" name="overlayStatic" type="checkbox" [(ngModel)]="overlayStatic">
    <label for="overlayStatic">Overlay Static</label>
  </div>
  <div>
    <input id="fillToFit" name="fillToFit" type="checkbox" [(ngModel)]="fillToFit">
    <label for="fillToFit">Fill to fit</label>
  </div>
  <div>
    <input id="selectNextEmptyOnCount" name="selectNextEmptyOnCount" type="checkbox" [(ngModel)]="selectNextEmptyOnCount">
    <label for="selectNextEmptyOnCount">Select next empty cell when count changes</label>
  </div>
  <div>
    <input id="selectNextEmptyOnAdd" name="selectNextEmptyOnAdd" type="checkbox" [(ngModel)]="selectNextEmptyOnAdd">
    <label for="selectNextEmptyOnAdd">Select next empty cell when item is added</label>
  </div>
  <div>
    <input id="selectFromLowerIndicesFirst" name="selectFromLowerIndicesFirst" type="checkbox" [(ngModel)]="selectFromLowerIndicesFirst">
    <label for="selectFromLowerIndicesFirst">Select empty tiles from the top left side (lower indices) first.</label>
  </div>
  <div>
    <div>
      <input id="dragDropEnabled" name="dragDropEnabled" type="checkbox" [(ngModel)]="dragDropEnabled">
      <label for="dragDropEnabled">Drag-Drop Enabled</label>
    </div>
    <div>
      <input id="dragDropListsEnabled" name="dragDropListsEnabled" type="checkbox" [(ngModel)]="dragDropListsEnabled">
      <label for="dragDropListsEnabled">Drag-Drop Lists Enabled</label>
    </div>
    <div>
      <input id="dragDropHoverBgEnabled" name="dragDropHoverBgEnabled" type="checkbox" [(ngModel)]="dragDropHoverBgEnabled">
      <label for="dragDropHoverBgEnabled">Drag-Drop Hover BgEnabled</label>
    </div>
    <div>
      <input id="dragDropHoverBgColor" name="dragDropHoverBgColor" type="color" [(ngModel)]="dragDropHoverBgColor">
      <label for="dragDropHoverBgColor">Drag-Drop Hover BgColor {{ dragDropHoverBgColor }}</label>
    </div>
    <div>
      <input id="dragDropHoverBgOpacity" name="dragDropHoverBgOpacity" type="range" min="0" max="1" step="0.05" [(ngModel)]="dragDropHoverBgOpacity">
      <label for="dragDropHoverBgOpacity">Drag-Drop Hover BgOpacity <strong>{{ dragDropHoverBgOpacity | number: '1.2' }}</strong></label>
    </div>
  </div>
</form>

<flo-grid-list-view #gridRef 
  (selectedElementChange)="elmChange($event)"
  [(min)]="min"
  [(max)]="max"
  [(count)]="count"
  [(maxheight)]="maxheight"
  [(overlayEnabled)]="overlayEnabled"
  [(overlayStatic)]="overlayStatic"
  [(fillToFit)]="fillToFit"
  [(dragDropEnabled)]="dragDropEnabled"
  [(dragDropHoverBgEnabled)]="dragDropHoverBgEnabled"
  [(dragDropHoverBgColor)]="dragDropHoverBgColor"
  [(dragDropHoverBgOpacity)]="dragDropHoverBgOpacity"
  [(selectFromLowerIndicesFirst)]="selectFromLowerIndicesFirst"
  [(selectNextEmptyOnCount)]="selectNextEmptyOnCount"
  [(selectNextEmptyOnAdd)]="selectNextEmptyOnAdd">
  <div *floGridListOverlay>
    <button (click)="gridRef.setCount(1)" [disabled]="gridRef.isCount(1)">1</button>
    <button (click)="gridRef.setCount(2)" [disabled]="gridRef.isCount(2)">2</button>
    <button (click)="gridRef.setCount(3)" [disabled]="gridRef.isCount(3)">3</button>
    <button (click)="gridRef.setCount(4)" [disabled]="gridRef.isCount(4)">4</button>
    <button (click)="gridRef.resetItems()">CLEAR ITEMS</button>
    <button (click)="list.autoFill()">AUTOFILL</button>
    <button *floIfFullscreen="fsElementRef" floClickToExitFullscreen>EXIT FULLSCREEN</button>
    <button *floIfNotFullscreen="fsElementRef" [floClickToEnterFullscreen]="fsElementRef">FULLSCREEN</button>
  </div>
  <div *floGridListItemNone>EMPTY!</div>
  <video *floGridListItemSome="let item" #vid floMse playsinline autoplay [src]="item.value.src" [muted]="item.isNotSelected"></video>
  <div *floGridListItemSomeDrag="let item" style="height: 100%; width: 100%;">
    <img *ngIf="item.value.dragImage !== undefined" style="height: 100%; width: 100%;" [src]="item.value.dragImage">
    <div *ngIf="item.value.dragImage === undefined" style="height: 100%; width: 100%; background-color: green; text-align: center">
      <h4>{{ item.value.src }}</h4>
      <h4>Missing Image Source</h4>
    </div>
  </div>
  <div *floGridListItemNoneDrag style="background-color: red; height: 100%; width: 100%;">I am an empty cell</div>
</flo-grid-list-view>

<flo-grid-list #list 
  [gridRef]="gridRef" 
  [items]="items" 
  [initialFill]="initialFill" 
  itemsNgClass="test"
  [itemsNgStyle]="{ 'color': 'green' }">
  <div *floGridListItem="let row">
    <span
     [ngClass]="{ 'underline': row.roles.canSelect }"
     [ngStyle]="{'font-weight': row.roles.isSelected ? 'bold': 'initial' }" (click)="row.actions.select()">{{ row?.item?.src }}</span>
    (
      <span *ngIf="row.roles.canAdd" class="underline" (click)="row.actions.add()">Add </span>
      <span *ngIf="row.roles.canReplace" class="underline" (click)="row.actions.replace()">Replace </span>
      <span *ngIf="row.roles.canSwap" class="underline" (click)="row.actions.swap()">Swap </span>
      <span *ngIf="row.roles.canRemoveSelf" class="underline" (click)="row.actions.removeSelf()">RemoveSelf </span>
      <span *ngIf="row.roles.canRemove" class="underline" (click)="row.actions.remove()">Remove </span>
    )
  </div>
</flo-grid-list>
