<h1>Grid List</h1>
<form>
  <div>
    <input id="maxheight" name="maxheight" type="range" min="0" max="1200" [(ngModel)]="maxheight">
    <label for="maxheight">maxheight</label>
  </div>
  <div>
    <input id="selectNextEmptyOnCount" name="selectNextEmptyOnCount" type="checkbox" [(ngModel)]="selectNextEmptyOnCount">
    <label for="selectNextEmptyOnCount">Select next empty cell when count changes</label>
  </div>
  <div>
    <input id="selectNextEmptyOnAdd" name="selectNextEmptyOnAdd" type="checkbox" [(ngModel)]="selectNextEmptyOnAdd">
    <label for="selectNextEmptyOnAdd">Select next empty cell when item is added</label>
  </div>
  <div>
    <input id="selectFromLowerIndicesFirst" name="selectFromLowerIndicesFirst" type="checkbox" [(ngModel)]="selectFromLowerIndicesFirst">
    <label for="selectFromLowerIndicesFirst">Select empty tiles from the top left side (lower indices) first.</label>
  </div>
</form>

<flo-grid-list-view #gridRef 
  (selectedElementChange)="elmChange($event)"
  [(count)]="count"
  [(maxheight)]="maxheight"
  [(selectFromLowerIndicesFirst)]="selectFromLowerIndicesFirst"
  [(selectNextEmptyOnCount)]="selectNextEmptyOnCount"
  [(selectNextEmptyOnAdd)]="selectNextEmptyOnAdd">
  <div *floGridListOverlay>
    <div>
      <button (click)="gridRef.setCount(1)" [disabled]="gridRef.isCount(1)">1</button>
      <button (click)="gridRef.setCount(2)" [disabled]="gridRef.isCount(2)">2</button>
      <button (click)="gridRef.setCount(3)" [disabled]="gridRef.isCount(3)">3</button>
      <button (click)="gridRef.setCount(4)" [disabled]="gridRef.isCount(4)">4</button>
      <button (click)="gridRef.setCount(5)" [disabled]="gridRef.isCount(5)">5</button>
      <button (click)="gridRef.setCount(6)" [disabled]="gridRef.isCount(6)">6</button>
      <button (click)="gridRef.setCount(9)" [disabled]="gridRef.isCount(9)">9</button>
      <button (click)="gridRef.setCount(15)" [disabled]="gridRef.isCount(15)">15</button>
      <button (click)="gridRef.setCount(16)" [disabled]="gridRef.isCount(16)">16</button>
      <button (click)="gridRef.setCount(25)" [disabled]="gridRef.isCount(25)">25</button>
      <button (click)="gridRef.resetItems()">CLEAR ITEMS</button>
      <button (click)="list.autoFill()">AUTOFILL</button>
    </div>
    <flo-media-player-controller [mediaRef]="currentElm" [fullscreenRef]="gridRef.elmRef.nativeElement"></flo-media-player-controller>
  </div>
  <div *floGridListItemNone>EMPTY!</div>
  <video *floGridListItemSome="let item" #vid floMse playsinline autoplay [src]="item.value.src" [muted]="item.isNotSelected"></video>
</flo-grid-list-view>

<flo-grid-list #list 
  [gridRef]="gridRef" 
  [items]="items" 
  [initialFill]="initialFill" 
  itemsNgClass="test"
  [itemsNgStyle]="{ 'color': 'green' }">
  <div *floGridListItem="let row">
    <span
     [ngClass]="{ 'underline': row.roles.canSelect }"
     [ngStyle]="{'font-weight': row.roles.isSelected ? 'bold': 'initial' }" (click)="row.actions.select()">{{ row?.item?.src }}</span>
    (
      <span *ngIf="row.roles.canAdd" class="underline" (click)="row.actions.add()">Add </span>
      <span *ngIf="row.roles.canReplace" class="underline" (click)="row.actions.replace()">Replace </span>
      <span *ngIf="row.roles.canSwap" class="underline" (click)="row.actions.swap()">Swap </span>
      <span *ngIf="row.roles.canRemoveSelf" class="underline" (click)="row.actions.removeSelf()">RemoveSelf </span>
      <span *ngIf="row.roles.canRemove" class="underline" (click)="row.actions.remove()">Remove </span>
    )
  </div>
</flo-grid-list>
