<span>
  <ng-container *ngTemplateOutlet="floMpPlayTmpl || floMpPlayTmplDefault"></ng-container>
  <ng-template #floMpPlayTmplDefault>
    <button *floIfMediaPaused="mediaRef" [floMp]="mediaRef" floMpClickToPlay>
      <ng-container *ngTemplateOutlet="floMpPlayTmplContent || floMpPlayContentTmplDefault"></ng-container>
      <ng-template #floMpPlayContentTmplDefault>&#9658;</ng-template>
    </button>
  </ng-template>
  <ng-container *ngTemplateOutlet="floMpPauseTmpl || floMpPauseTmplDefault"></ng-container>
  <ng-template #floMpPauseTmplDefault>
    <button *floIfMediaPlaying="mediaRef" [floMp]="mediaRef" floMpClickToPause>
      <ng-container *ngTemplateOutlet="floMpPauseContentTmpl || floMpPauseContentTmplDefault"></ng-container>
      <ng-template #floMpPauseContentTmplDefault>&#x1f507;</ng-template>
    </button>
  </ng-template>
</span>