:host {
  max-width: 100%; // TODO: config?
  height: 25px; // TODO: config?
  background-color: black; // TODO: config?
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.fs.mp.controller {
    button {
      display: flex;
      border: none;
      background-color: transparent;
      color: white; // TODO: config?
      font-size: 16px;
      padding: 0;
      svg {
        fill: white; // TODO: config?
        height: 24px; // TODO: config?
        width: 24px; // TODO: config?
        opacity: .8; // TODO: config?
        transition: opacity 0.4s ease-out // TODO: config?
      }
      &:hover {
        cursor: pointer;
        svg {
          opacity: 1;
        }
      }
    }
    .input.volume {
      width: 75px;
    }
  }
  .grp {
    display: flex;
    height: 100%;
  }
}