<!-- LEFT GROUP -->
<span class="grp">
  
  <!-- REWIND -->
  <button [floMp]="mediaRef" [floMpClickToSkipBack]="15000">
    <svg viewBox="0 0 24 24">
      <path d="M11.5,12L20,18V6M11,18V6L2.5,12L11,18Z" />
    </svg>
  </button>

  <!-- PLAY -->
  <ng-container *ngTemplateOutlet="floMpPlayTmpl || floMpPlayTmplDefault"></ng-container>
  <ng-template #floMpPlayTmplDefault>
    <button *floIfMediaPaused="mediaRef" [floMp]="mediaRef" floMpClickToPlay>
      <ng-container *ngTemplateOutlet="floMpPlayTmplContent || floMpPlayContentTmplDefault"></ng-container>
      <ng-template #floMpPlayContentTmplDefault>
        <svg viewBox="0 0 24 24">
          <path d="M8,5.14V19.14L19,12.14L8,5.14Z" />
        </svg>
      </ng-template>
    </button>
  </ng-template>

  <!-- PAUSE -->
  <ng-container *ngTemplateOutlet="floMpPauseTmpl || floMpPauseTmplDefault"></ng-container>
  <ng-template #floMpPauseTmplDefault>
    <button *floIfMediaPlaying="mediaRef" [floMp]="mediaRef" floMpClickToPause>
      <ng-container *ngTemplateOutlet="floMpPauseContentTmpl || floMpPauseContentTmplDefault"></ng-container>
      <ng-template #floMpPauseContentTmplDefault>
        <svg viewBox="0 0 24 24">
          <path d="M14,19H18V5H14M6,19H10V5H6V19Z" />
        </svg>
      </ng-template>
    </button>
  </ng-template>

  <!-- FAST-FORWARD -->
  <button [floMp]="mediaRef" [floMpClickToSkipForward]="15000">
    <svg viewBox="0 0 24 24">
      <path d="M13,6V18L21.5,12M4,18L12.5,12L4,6V18Z" />
    </svg>
  </button>

  <!-- VOLUME -->
  <button *floIfMediaUnmuted="mediaRef" [floMp]="mediaRef" floMpClickToMute>
    <svg viewBox="0 0 24 24">
      <path d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z" />
    </svg>
  </button>
  <button *floIfMediaMuted="mediaRef" [floMp]="mediaRef" floMpClickToUnmute>
    <svg viewBox="0 0 24 24">
      <path d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z" />
    </svg>
  </button>
  <input *floIfMediaAdjustableVolume class="fs mp input volume" [floMp]="mediaRef" floMpVolume type="range">
</span>

<!-- DIVIDER -->
<span></span>

<!-- RIGHT GROUP -->
<span class="grp">
  <!-- SETTINGS MENU -->


  <!-- REPEAT -->
  <button *floIfMediaLoopDisabled="mediaRef" [floMp]="mediaRef" floMpClickToEnableRepeat>
    <svg viewBox="0 0 24 24">
      <path d="M17,17H7V14L3,18L7,22V19H19V13H17M7,7H17V10L21,6L17,2V5H5V11H7V7Z" />
    </svg>
  </button>
  <button *floIfMediaLoopEnabled="mediaRef" [floMp]="mediaRef" floMpClickToDisableRepeat>
    <svg viewBox="0 0 24 24">
      <path d="M13,15V9H12L10,10V11H11.5V15M17,17H7V14L3,18L7,22V19H19V13H17M7,7H17V10L21,6L17,2V5H5V11H7V7Z" />
    </svg>
  </button>

  <!-- PiP -->
  <button *floIfMediaCanEnterNativePip="mediaRef" [floMp]="mediaRef" floMpClickToEnterNativePip>
    <svg viewBox="0 0 24 24">
      <path d="M19,11H11V17H19V11M23,19V5C23,3.88 22.1,3 21,3H3A2,2 0 0,0 1,5V19A2,2 0 0,0 3,21H21A2,2 0 0,0 23,19M21,19H3V4.97H21V19Z" />
    </svg>
  </button>
  <button *floIfMediaCanExitNativePip="mediaRef" [floMp]="mediaRef" floMpClickToExitNativePip>
    <svg viewBox="0 0 24 24">
      <path d="M19,7H11V13H19V7M17,11H13V9H17V11M21,3H3A2,2 0 0,0 1,5V19C1,20.11 1.9,21 3,21H21A2,2 0 0,0 23,19V5C23,3.91 22.1,3 21,3M21,19H3V5H21V19Z" />
    </svg>
  </button>

  <!-- FULLSCREEN -->
  <button *floIfFullscreen="mediaRef" floClickToExitFullscreen>
    <svg viewBox="0 0 24 24">
      <path d="M14,14H19V16H16V19H14V14M5,14H10V19H8V16H5V14M8,5H10V10H5V8H8V5M19,8V10H14V5H16V8H19Z" />
    </svg>
  </button>
  <button *floIfNotFullscreen="mediaRef" [floClickToEnterFullscreen]="mediaRef">
    <svg viewBox="0 0 24 24">
      <path d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z"/>
    </svg>
  </button>
<!-- <ng-container *ngTemplateOutlet="floMpPlayTmpl || floMpPlayTmplDefault"></ng-container>
<ng-template #floMpPlayTmplDefault>
  <button *floIfMediaPaused="mediaRef" [floMp]="mediaRef" floMpClickToPlay>
    <ng-container *ngTemplateOutlet="floMpPlayTmplContent || floMpPlayContentTmplDefault"></ng-container>
    <ng-template #floMpPlayContentTmplDefault>▶️</ng-template>
  </button>
</ng-template> -->
</span>
