:host {
  max-width: 100%; // TODO: config?
  background-color: black; // TODO: config?
  display: flex;
  flex-direction: column;
  .grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.hide-when-no-media {
    visibility: hidden;
  }
  &.hide {
    display: none;
  }
  &.fs.mp.controller {
    .test {
      display: flex;
      align-items: center;
      color: white;
    }
    button, input {
      font-family: monospace;
      font-size: 13px;
      display: flex;
      border: none;
      background-color: transparent;
      color: white; // TODO: config?
      font-size: 16px;
      padding: 1px;
      margin: 0;
      svg {
        fill: white; // TODO: config?
        height: 28px; // TODO: config?
        width: 28px; // TODO: config?
        opacity: .8; // TODO: config?
        transition: opacity 0.4s ease-out; // TODO: config?
        -webkit-backface-visibility: hidden; // safari flicker fix
        backface-visibility: hidden; // safari flicker fix
        -webkit-transform: translateZ(0) scale(1.0, 1.0); // safari flicker fix
        transform: translateZ(0); // safari flicker fix
      }
      &:hover {
        cursor: pointer;
        svg {
          opacity: 1;
        }
      }
    }
    .input.volume {
      width: 75px;
    }
  }
}