<div *ngIf="showOverlay$ | async" class="flo-video-overlay">
  <ng-container *ngTemplateOutlet="gridViewOverlayTemplate"></ng-container>
</div>
<div #floGridContainer class="flo-video-grid-container">
  <ng-container *ngFor="let item of viewItems; index as idx; trackBy: trackByFn">
    <div #floGridItemContainer class="flo-video-item-container" (click)="setSelected(idx)" [attr.id]="item?.value?.id">
      <div [class.flo-video-item-selection-border]="item.selected"></div>
      <ng-container [ngSwitch]="item.hasSomething">
        <ng-container *ngSwitchCase="true">
          <ng-container *ngTemplateOutlet="gridItemSomeTemplate; context: { $implicit: item.value }"></ng-container>
        </ng-container>
        <div *ngSwitchCase="false" class="flo-video-item-empty">
          <ng-container *ngTemplateOutlet="gridItemNoneTemplate; context: { $implicit: item.value }"></ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>