<h2>Fullscreen!</h2>

<div #elmRef>
  <h3>I am the target of the fullscreen action!</h3>
  <h4>My container will be taken fullscreen</h4>
  <flo-fullscreen [targetRef]="elmRef">
    <button *floFullscreenOn>Exit Fullscreen</button>
    <button *floFullscreenOff>Enter Fullscreen</button>
  </flo-fullscreen>
</div>
<!-- <div #elmRef2>
  <h3>I am the target of the fullscreen action!</h3>
  <h4>My container will be taken fullscreen</h4>
  <flo-fullscreen [targetRef]="elmRef2">
    <button *floFullscreenOn>Exit Fullscreen</button>
    <button *floFullscreenOff>Enter Fullscreen</button>
  </flo-fullscreen>
</div> -->

<!-- <flo-fullscreen></flo-fullscreen>
<flo-fullscreen-video-toggle></flo-fullscreen-video-toggle> -->

<!-- <div floFullscreen>
  <h3>I am the target of the fullscreen action!</h3>
  <h4>My container will be taken fullscreen</h4>
  <button *floFullscreenOn>Exit Fullscreen</button>
  <button *floFullscreenOff>Enter Fullscreen</button>
</div> -->