<h1>Demo</h1>
<div>
  <label for="preselected_input">Source (pre selected)</label>
  <select id="preselected_input" [formControl]="dropdown">
    <option value="https://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8" selected>Big Buck Bunny (HLS)</option>
    <option value="https://www.streambox.fr/playlists/x31jrg1/x31jrg1.m3u8">Costa Rica (HLS)</option>
    <option value="https://www.streambox.fr/playlists/x212fsj/x212fsj.m3u8">Tears of Steel (HLS)</option>
    <option value="https://www.streambox.fr/playlists/x31e0e7/x31e0e7.m3u8">Pipe Dream (HLS)</option>
    <option value="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WeAreGoingOnBullrun.mp4">Bullrun (MP4)</option>
    <option value="https://bitmovin-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd">Parkor (DASH)</option>
  </select>
</div>
<form [formGroup]="formGroup">
  <div>
    <label for="src">Source</label>
    <input id="src" placeholder="paste an hls url" type="text" formControlName="src">
  </div>
  <div>
    <label for="poster">Poster</label>
    <input id="poster" placeholder="poster source url" type="text" formControlName="poster">
    </div>
  <label for="controls">controls</label>
  <input id="controls" placeholder="paste an hls url" type="checkbox" formControlName="controls">
  <div>
    <label for="autoplay">autoplay</label>
    <input id="autoplay" type="checkbox" formControlName="autoplay">
  </div>
  <div>
    <label for="playsinline">playsinline (ios)</label>
    <input id="playsinline" type="checkbox" formControlName="playsinline">
  </div>
</form>
<video *ngIf="config$ | async as config"
  floHls
  floDash
  [src]="config?.src"
  [poster]="config?.poster"
  [controls]="config?.controls"
  [autoplay]="config?.autoplay"
  [attr.playsinline]="config?.playsinline">
</video>
