.wrapper {
  margin: 30px 30px 30px 30px;
  display: flex;
  flex-direction: row;
}

.loaded-content {
  position: fixed;
  left: auto;
  top: 50%;
  bottom: auto;
  right: 40%;
  text-align: right;
}

.trigger-zone {
  background: lightcoral;
}
