<nav>
  <ul class="unstyled">
    <li><a routerLink>Home</a></li>
    <li><a routerLink="styles">Styles</a></li>
    <li><a routerLink="icons">Icons</a></li>
    <li><a routerLink="hls">Media Source Extentions</a> </li>
    <li><a routerLink="viewport-grid">Viewport Grid</a></li>
    <li><a routerLink="universal-services">Universal Services</a></li>
    <li><a routerLink="projects/flosportsinc/ng-ad-block">Ad Block Detection</a></li>
    <li><a routerLink="projects/flosportsinc/ng-http-cache-tags">HTTP Cache Tags</a></li>
    <li><a routerLink="projects/flosportsinc/ng-svg-transfer-state">SVG Transfer State</a></li>
    <li><a routerLink="projects/flosportsinc/ng-env-transfer-state">Node Env Transfer State</a></li>
    <li><a routerLink="projects/flosportsinc/ng-tabs">Tabs</a></li>
    <li><a routerLink="projects/flosportsinc/ng-ima">IMA</a></li>
    <li><a routerLink="projects/flosportsinc/ng-video-events">Video Events</a></li>
    <li><a routerLink="autoplay">Video Autoplay</a></li>
    <li><a href="https://github.com/flocasts/flo-angular">GitHub</a></li>
  </ul>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>