<nav>
  <li><a routerLink>Home</a></li>
  <ul class="unstyled">
    <li><a routerLink="styles">Styles</a>
      <ul>
        <li><a routerLink="icons">Icons</a></li>
        <li>Typography</li>
        <li>Buttons</li>
        <li>Fonts</li>
      </ul>
    </li>
    <li>Services
      <ul>
        <li><a routerLink="projects/flosportsinc/ng-ad-block">Ad Block Detection</a></li>
        <li><a routerLink="projects/flosportsinc/ng-http-cache-tags">HTTP Cache Tags</a></li>
        <li><a routerLink="projects/flosportsinc/ng-video-events">Video Events</a></li>
        <li><a routerLink="projects/flosportsinc/ng-env-transfer-state">Node Env Transfer State</a></li>
        <li><a routerLink="projects/flosportsinc/ng-svg-transfer-state">SVG Transfer State</a></li>
      </ul>
    </li>
    <li>Enhancements
      <ul>
        <li><a routerLink="hls">MSE (HLS, DASH)</a></li>
        <li><a routerLink="autoplay">Video Autoplay</a></li>
        <li><a routerLink="projects/flosportsinc/ng-ima">Google IMA</a></li>
        <li><a routerLink="projects/flosportsinc/ng-ima">Youbora</a></li>
        <li><a routerLink="fullscreen">Fullscreen</a></li>
        <li><a routerLink="projects/flosportsinc/ng-fetch-fill">Fetch Fill</a>
          <ul>
            <li><a routerLink="projects/flosportsinc/ng-fetch-fill/demo">Demo</a></li>
          </ul>
      </ul>
    </li>
    <li>Components
      <ul>
        <li><a routerLink="projects/flosportsinc/ng-tabs">Tabs</a></li>
        <li><a routerLink="grid-list">GridList</a></li>
        <li><a routerLink="video-player">Media Player</a></li>
      </ul>
    </li>
    <li><a href="https://github.com/flocasts/flo-angular">GitHub</a></li>
  </ul>
  <span id="fromServerTest">{{ env['FROM_SERVER'] }}</span>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>