<nav>
  <ul class="unstyled">
    <li><span floSvg="https://cdn.shopify.com/s/files/1/0496/1029/files/Freesample.svg?5153" floSvgHeight="24px"></span><a routerLink>Home</a></li>
    <li><a routerLink="hls">Media Source Extentions</a> </li>
    <li><a routerLink="viewport-grid">Viewport Grid</a></li>
    <li><a routerLink="universal-services">Universal Services</a></li>
    <li><a href="https://github.com/flocasts/flo-angular">GitHub</a></li>
  </ul>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>