<div class="flo-grid-list-overlay"
  [ngClass]="overlayNgClass"
  [ngStyle]="overlayNgStyle"
  [class.flo-grid-list-overlay-hide]="hideOverlay | async">
  <ng-container *ngTemplateOutlet="gridListOverlayTemplate"></ng-container>
</div>
<div #floGridListContainer class="flo-grid-list-container">
  <ng-container *ngFor="let item of viewItems; index as idx; trackBy: trackByFn">
    <div #floGridListItemContainer
      class="flo-grid-list-item-container"
      (click)="setSelectedIndex(idx)"
      [floGridListDragDrop]="dragDropEnabled"
      [floGridListDragDropItem]="item.value"
      [floGridListDragDropIndex]="idx"
      [floGridListDragDropGridRef]="this"
      [style.flex-basis]="item.aspectRatio"
      [style.padding-top]="item.padTop"
      [attr.id]="item?.value?.id">
      <ng-container [ngSwitch]="item.hasValue">
        <div *ngSwitchCase="true" class="flo-grid-list-item-some">
          <ng-container *ngTemplateOutlet="gridListItemSomeTemplate; context: { $implicit: item }"></ng-container>
        </div>
        <div *ngSwitchCase="false" class="flo-grid-list-item-none">
          <ng-container *ngTemplateOutlet="gridListItemNoneTemplate; context: { $implicit: item }"></ng-container>
        </div>
      </ng-container>
      <div [class.flo-grid-list-item-selection-border]="item.isShowingBorder" [class.flo-grid-list-overlay-hide]="hideOverlay | async"></div>
    </div>
  </ng-container>
</div>