:host {
  display: block;
  position: relative;
  width: 100%;
  background: black; // move to js

  .flo-grid-list-container {
    display: grid;
    margin: auto;
  }

  &:fullscreen {
    .flo-grid-list-container {
      max-width: initial !important;
      max-height: initial !important;
    }
  }

  .flo-grid-list-item-container {
    overflow: hidden;
    height: 0;
    position: relative;
    color: white;

    ::ng-deep > :first-child, ::ng-deep > video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    ::ng-deep video {
      max-width: 100%;
      object-fit: cover;
    }
  }

  .flo-grid-list-item-none {
    color: white; // TODO: move to JS land
  }

  .flo-grid-list-overlay {
    position: absolute;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    pointer-events: none;

    ::ng-deep>* {
      pointer-events: all;
    }
  }

  .flo-grid-list-item-selection-border {
    opacity: 1;
    height: 100%;
    box-shadow: inset 0px 0px 0px 2px white; // TODO: make config
    z-index: 1; // pointer-events: none; TODO: check this out
    transition: .25s ease-in-out all; // TODO same config as outer animation
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .flo-grid-list-overlay-hide {
    opacity: 0;
  }

  .flo-grid-list-cursor-hide {
    cursor: none;
  }
}