<div class="fg list-overlay mg-auto"
  [ngClass]="overlayNgClass"
  [ngStyle]="overlayNgStyle"
  [class.list-overlay-hide]="hideOverlay | async">
  <ng-container *ngTemplateOutlet="gridListOverlayTemplate"></ng-container>
</div>
<div class="fg mg-auto" style="display: flex; align-items: center;" [style.max-width.px]="baseMaxWidth">
  <div [style.padding-top.%]="aspectRatioPercentage"></div>
  <div #floGridListContainer class="fg mg-auto list-container" [style.max-width]="maxWidth" [style.top]="top">
    <ng-container *ngFor="let item of viewItemChange | async; index as idx; let cnt = count; trackBy: trackByFn">
      <div #floGridListItemContainer
        class="fg list-item-container"
        (click)="setSelectedIndex(idx)"
        [floGridListDragDrop]="dragDropEnabled && cnt > 1"
        [floGridListDragDropItem]="item.value"
        [floGridListDragDropIndex]="idx"
        [floGridListDragDropGridRef]="this"
        [floGridListDragDropDragImage]="item.dragImage"
        [style.flex-basis.%]="item.flexBasis"
        [style.padding-top.%]="item.padTop"
        [attr.id]="item?.containerId">
        <ng-container [ngSwitch]="item.hasValue">
          <div *ngSwitchCase="true" class="fg list-item-some" [class.fill-to-fit]="fillToFit">
            <ng-container *ngTemplateOutlet="gridListItemSomeTemplate; context: { $implicit: item }"></ng-container>
          </div>
          <div *ngSwitchCase="false" class="fg list-item-none" [class.fill-to-fit]="fillToFit">
            <ng-container *ngTemplateOutlet="gridListItemNoneTemplate; context: { $implicit: item }"></ng-container>
          </div>
        </ng-container>
        <div class="fg" [class.list-item-selection-border]="item.isShowingBorder" [class.list-overlay-hide]="hideOverlay | async"></div>
      </div>
    </ng-container>
  </div>
</div>
