:host {
  display: block;
  position: relative;
  background: black; // move to js

  .flo-grid-list-container {
    display: grid;
    margin: auto;
  }

  .flo-grid-list-item-container {
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    color: white;
    z-index: 4;

    ::ng-deep :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .flo-grid-list-item-none {
    color: white; // TODO: move to JS land
  }

  .flo-grid-list-overlay {
    position: absolute;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    ::ng-deep>* {
      pointer-events: all;
    }
  }

  .flo-grid-list-item-selection-border {
    opacity: 1;
    // transition: box-shadow 400ms ease 0s;
    box-shadow: inset 0px 0px 0px 3px white; // TODO: make config
    z-index: 1; // pointer-events: none; TODO: check this out
    transition: .25s ease-in-out all; // TODO same config as outer animation

    height: 100%;
    /* z-index: 222; */
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
  }

  .flo-grid-list-overlay-hide {
    opacity: 0;
    cursor: none;
  }
}