:host {
  display: block;
  position: relative;
  overflow: hidden;
  background: black; // TODO: make a config value

  &:fullscreen {
    position: inherit;

    .fg.list-container,
    .fg.mg-auto {
      max-width: none !important;
      max-height: none !important;
    }
  }

  .fg {
    &.mg-auto {
      margin: auto;
    }

    &.list-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
    }

    &.list-item-container {
      position: relative;
      color: white;

      ::ng-deep> :first-child,
      ::ng-deep>video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      ::ng-deep video {
        height: 100%;
        max-width: 100%;
      }
    }

    &.list-overlay {
      position: absolute;
      opacity: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 4;
      pointer-events: none;

      ::ng-deep>* {
        pointer-events: all;
      }
    }

    &.list-item-overlay {
      pointer-events: none;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: 1;

      &.selection-border {
        box-shadow: inset 0px 0px 0px 2px white; // TODO: make a config value
        transition: .2s ease-in-out all; // TODO same config as outer animation
      }
      &.dragging {
        transition: none
      }
    }

    &.list-overlay-hide {
      opacity: 0;
    }

    &.list-cursor-hide {
      cursor: none;
    }

    &.fill-to-fit {

      ::ng-deep> :first-child,
      ::ng-deep>video {
        object-fit: cover;
        width: inherit;
      }
    }
    &.offscreen {
      position: absolute;
      top: 0;
      left: -10000px;
      display: block;
      height: 100%;
      width: 100%;
      z-index: 100;
      ::ng-deep * {
        height: 100%;
        width: 100%;
      }
    }
  }
}