<h2>HLS</h2>
<!-- <p>The <em>flo-window-panes</em> component is a response grid window/tile manager.</p> -->
<h4>Goals:</h4>
<ul>
  <li>Cross Platform HTML5 HLS video support inside the Angular runtime</li>
  <li>Fully reactive to source video changes</li>
  <li>Angular Universal Support</li>
</ul>
<h3>Demo</h3>

<p>Streaming: <a href="http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8">http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8</a></p>
<video floHls="http://www.streambox.fr/playlists/x36xhzz/x36xhzz.m3u8" width="300px" autoplay controls></video>