<markdown [src]="'/assets/md/ng-viewport-grid/README.md'"></markdown>

<h2>Window Panels</h2>
<p>The <em>flo-window-panes</em> component is a response grid window/tile manager.</p>
<h4>Features</h4>
<ul>
  <li>High Performance with minimal CPU and memory usage</li>
  <li>Responsive for an arbitrary number of elements with a high degree of layout symmetry.</li>
  <li>Primarily designed for a multi-camera grid layout, but arbitarty DOM elements should also work.</li>
  <li>CSS based solution with minimal Javascript (for layout) to enable a server rendered and jitter free user
    experience</li>
  <li>Drag and drop to swap element positions</li>
  <li>Extensive API for handle to customize for broad use-cases</li>
</ul>
<h3>Demo Configurator</h3>
<form [formGroup]="formGroup">
  <div>
    <label for="maxHeight">Max Height</label>
    <input id="maxHeight" placeholder="max height" type="number" formControlName="maxHeight">
  </div>
  <div>
    <label for="elementCount">Elements</label>
    <input id="elementCount" placeholder="4" type="number" formControlName="elementCount">
  </div>
  <div>
    <label for="videoSource">Video Source</label>
    <input id="videoSource" placeholder="video source url" type="text" formControlName="videoSource">
  </div>
</form>
<br>
<ng-container *ngIf="view_ | async as view">
  <button #unmute>Click to unmute</button>
  <flo-viewport-grid [maxHeight]="view.maxHeight" startingSelectedIndex="1" [floVideoAutoplay]="unmute" floVideoAutoplayIndex="1">
    <flo-viewport-grid-box *ngFor="let vid of view.videos; trackBy: trackByVideoId">
      <video floViewportGridBoxItem [floVideoEvents]="{ meta: 1}" (floVideoEventMessage)="test($event)" playsinline controls #floVideoAutoplay [src]="vid.src"></video>
    </flo-viewport-grid-box>
  </flo-viewport-grid>
</ng-container>