<h3>Grid</h3>
<flo-video-grid #videoGridRef [(viewcount)]="viewcount" [trackByFunc]="tbFunc">
  <video *floVideoGridItemSome="let item" [src]="item.src" autoplay floMse playsinline></video>
  <div *floVideoGridItemNone>ADD STREAM</div>
  <div *floVideoGridOverlay style="background-color: red;">
    <button (click)="videoGridRef.setViewCount(1)">1</button>
    <button (click)="videoGridRef.setViewCount(2)">2</button>
    <button (click)="videoGridRef.setViewCount(4)">4</button>
  </div>
</flo-video-grid>
<br/>
<h3>Grid List 1</h3>
<flo-video-grid-list [gridRef]="videoGridRef" [items]="gridListItems">
  <div *floVideoGridListItem="let container">
    <a [style.font-weight]="container.selected ? 'bold' : 'normal'" [class.pointer]="container.permissions.canSelect" (click)="container.actions.select()">{{ container.item.id }} - {{ container.item.title }}</a>
    (
    <span class="pointer" *ngIf="container.permissions.canAdd" (click)="container.actions.add()"> Add </span>
    <span class="pointer" *ngIf="container.permissions.canRemove" (click)="container.actions.remove()"> Remove </span>
    <span class="pointer" *ngIf="container.permissions.canSwap" (click)="container.actions.swap()"> Swap </span>
    <span class="pointer" *ngIf="container.permissions.canReplace" (click)="container.actions.replace()"> Replace </span>
    )
  </div>
</flo-video-grid-list>
