<h2>Flo Media Player Suite</h2>

<h3>Controls</h3>
<video #vidRef floMse floVideoAutoplay playsinline controls width="600"
  src="https://cdn-flo.flodogs.com/uploaded/mzEp5zBJ943XvZXba7DnVmvD2zZPqJk6/playlist.m3u8">
</video>

<div>
  <span>
    <button *floIfMediaPaused="vidRef" [floMpc]="vidRef" floMpcPlay>Play</button>
    <button *floIfMediaPlaying="vidRef" [floMpc]="vidRef" floMpcPause>Pause</button>
  </span>
  <span>
    <button [floMpc]="vidRef" [floMpcSkipBack]="15000">-15</button>
    <button [floMpc]="vidRef" [floMpcSkipForward]="15000">15+</button>
  </span>
  <span>
    <button *floIfFullscreen floClickToExitFullscreen>Exit</button>
    <button *floIfNotFullscreen [floClickToEnterFullscreen]="vidRef">Fullscreen</button>
  </span>
  <span>
    <button *floIfMediaCanEnterPipNative="vidRef" [floMpc]="vidRef" floMpcPipNativeEnter>PiP</button>
    <button *floIfMediaCanExitPipNative="vidRef" [floMpc]="vidRef" floMpcPipNativeExit>Exit PiP</button>
  </span>
  <span>
    <button *floIfMediaUnmuted="vidRef" [floMpc]="vidRef" floMpcMute>Mute</button>
    <button *floIfMediaMuted="vidRef" [floMpc]="vidRef" floMpcUnmute>Unmute</button>
    <input *floIfMediaAdjustableVolume [floMpc]="vidRef" floMpcVolume type="range">
    <!--
      <span *floIfVolumeRange="let ref from videoRef when range [0, 0.2]">Low</span>
      <span *floIfVolumeRange="let ref from videoRef when range [0.2, 0.5]">Medium</span>
      <span *floIfVolumeRange="let ref from videoRef when range [0.5, 1]">High</span>
    -->
  </span>
  <span>
    <!-- PLAYBACK SPEED -->
  </span>
</div>