<h2>Flo Media Player Suite</h2>

<h3>Controls</h3>
<video #vidRef floMse floVideoAutoplay playsinline controls width="600"
  src="https://cdn-flo.flodogs.com/uploaded/mzEp5zBJ943XvZXba7DnVmvD2zZPqJk6/playlist.m3u8">
</video>

<div>
  <span>
    <button *floIfMediaPaused="vidRef" [floMp]="vidRef" floMpClickToPlay>Play</button>
    <button *floIfMediaPlaying="vidRef" [floMp]="vidRef" floMpClickToPause>Pause</button>
  </span>
  <span>
    <button [floMp]="vidRef" [floMpClickToSkipBack]="15000">-15</button>
    <button [floMp]="vidRef" [floMpClickToSkipForward]="15000">15+</button>
  </span>
  <span>
    <button *floIfFullscreen floClickToExitFullscreen>Exit</button>
    <button *floIfNotFullscreen [floClickToEnterFullscreen]="vidRef">Fullscreen</button>
  </span>
  <span>
    <button *floIfMediaCanEnterNativePip="vidRef" [floMp]="vidRef" floMpClickToEnterNativePip>PiP</button>
    <button *floIfMediaCanExitNativePip="vidRef" [floMp]="vidRef" floMpClickToExitNativePip>Exit PiP</button>
  </span>
  <span>
    <button *floIfMediaUnmuted="vidRef" [floMp]="vidRef" floMpClickToMute>Mute</button>
    <button *floIfMediaMuted="vidRef" [floMp]="vidRef" floMpClickToUnmute>Unmute</button>
    <input *floIfMediaAdjustableVolume [floMp]="vidRef" floMpVolume type="range">
    <!--
      <span *floIfVolumeRange="let ref from videoRef when range [0, 0.2]">Low</span>
      <span *floIfVolumeRange="let ref from videoRef when range [0.2, 0.5]">Medium</span>
      <span *floIfVolumeRange="let ref from videoRef when range [0.5, 1]">High</span>
    -->
  </span>
  <span>
    <!-- TODO: PLAYBACK SPEED -->
  </span>
  <span>
    <!-- TODO: REPEAT/LOOP -->
  </span>
  <span>
    <!-- TODO: PLAY NEXT (SKIP TO NEXT VIDEO) -->
  </span>
</div>